.Internationalization {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header .Internationalization a:link, .header .Internationalization a:visited {
    color: #fff;
}